
body {
    background-color: #C0C0C0;
}

button:hover {
    cursor: pointer;
}

div {
    box-sizing: border-box;
}

.poster {
    width: 100%;
    transition: all .2s;
}

.poster-hover:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.poster-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 1px #A9A9A9 solid;
    background: #333;
}

.poster-not-available {
    font-size: 18px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    color: white;
    font-weight: bold;
}

.poster-not-available--small {
    font-size: 11px;
    padding: 8px;
}

.result-container {
    margin: 16px;
    display: inline-block;
    position: relative;
}

.results-container {
    display: flex;
}

.results {
    width: 60%;
    margin-bottom: 100px;
}

.circle-button {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color:#333;
    color: white;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 800;
    display: none;
}

.circle-button:hover {
    color:#32CD32;
    opacity: 1;
}

.result-container:hover .circle-button {
    display: block;
}

h2 {
    margin: 16px;
}

.film-collection {
    width: 40%;
    background-color: #D3D3D3;
    margin: 16px;
}

.film-view {
    display: flex;
}

.film-finder {
    margin: 16px;
}

.more-button {
    margin: 16px;
    background: lightgray;
    padding: 8px;
    border-radius: 4px;
    border: none;
    color: black;
    width: 100px;
}

.results-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.my-film-container {
    margin: 8px 16px;
    width: 80px;
    height: 80px;
    display: inline-block;
    position: relative;
}

.my-film-row {
    display: flex;
    align-items: center;
}

.my-film-row .poster-container {
    width: 80px;
    height: 80px;
}

.search-btn {
    margin: 16px;
    background: green;
    padding: 8px;
    border-radius: 4px;
    border: none;
    color: white;
    width: 80px;
}

.poster-title {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 12px;
    font-weight: bold;
    max-width: 200px;
    text-align: center;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.modal-inner {
    width: 300px;
    text-align: right;
}

.modal-close {
    margin: 0 -16px 8px 0;
    border: none;
    color: white;
    background: #A9A9A9;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 800;
}

button:hover {
    opacity: 0.7;
}