
body {
    background-color: lightgray;
}

div {
    box-sizing: border-box;
}

.poster {
    width: 100%;
    transition: all .2s;
}

.poster:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.poster-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.result-container {
    margin: 16px;
    width: 200px;
    height: 200px;
    display: inline-block;
    position: relative;
}

.results-container {
    display: flex;
}

.results {
    width: 60%;
    border-right: 1px solid #999;
    margin-bottom: 100px;
}

.circleButton {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color:#333;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}

.circleButton:hover {
    color:#32CD32;
}

h2 {
    margin: 16px;
}

.film-collection {
    width: 40%;
}

.film-view {
    display: flex;
}

.filmFinder {
    margin: 16px;
}

.moreButton {
    margin: 16px;
}

.results-header {
    display: flex;
    flex-direction: row;
}